<section class="card card_color card_edge">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure doloremque voluptate ullam quo illo aperiam beatae natus sunt. Ipsa, incidunt!</p>
    </div>
</section>